<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<H1>TODO LIST</H1>

		<ul>
			<li id="milk">buy milk</li>
			<li>do anki</li>
			<li>complete crypto class</li>
			<li>fuck a girl</li>
		</ul>

		<button>submit</button>

		<div>
			<p class="tolu">i love this</p>
		</div>

		<script src="js/main.js"></script>
	</body>
</html>
